<br>
<div class="container">

    <div class="row">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem; margin-left: 10px;">
            <div class="card-header">Valor Total</div>
            <div class="card-body">
              <h5 class="card-title"> <i class="fas fa-money-bill-wave"></i> R$ {{valorTotal}}</h5>
            </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem; margin-left: 10px">
            <div class="card-header">Saidas</div>
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-money-bill-wave"></i> R$ {{saida}}</h5>
            </div>
          </div>
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin-left: 10px;">
            <div class="card-header">Entradas</div>
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-money-bill-wave"></i> R$ {{entrada}}</h5>
            </div>
          </div>
          <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-left: 10px;">
            <div class="card-header">Investimentos</div>
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-money-bill-wave"></i> R$ {{investimentos}}</h5>
            </div>
          </div>
       
    </div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo Movimentação</th>
            <th scope="col">Valor </th>
            <th scope="col">Data</th>
            <th scope="col">Itens</th>
          </tr>
        </thead>
        <tbody *ngFor="let movimentacao of finance; let i = index;">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{movimentacao.tipo}}</td>
            <td>R$ {{movimentacao.valor}}</td>
            <td>{{movimentacao.data}}</td>
            <td><button type="button" (click)="excluirItem(i)" class="btn btn-danger">Excluir</button></td>
          </tr>
          </tbody>
      </table>
      
       </div>