<br>
<div class="container">
  <app-cards
    [name]="'willyam'"
    [valorTotal]="valorTotal"
    [saida]="saida"
    [investimentos]="investimentos"
    [entrada]="entrada"
    >
    </app-cards>
    <div>
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" >Adicionar</button>
    </div>
    <br>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adicionar Despesas ou Ganho</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Tipo</label>
                <select class="form-control" [(ngModel)]="financeModel.tipo" id="tipo" name="tipo">
                  <option value="Entrada">Entrada</option>
                  <option value="Saida">Saida</option>
                  <option value="Investimento">Investimento</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Valor</label>
                <input type="number" class="form-control" id="valor" name="valor" [(ngModel)]="financeModel.valor" placeholder="Valor">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Data</label>
                <input type="datetime" class="form-control" id="valor" name="valor" [(ngModel)]="financeModel.data">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="createFinance()" data-dismiss="modal">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo Movimentação</th>
            <th scope="col">Valor </th>
            <th scope="col">Data</th>
            <th scope="col">Itens</th>
          </tr>
        </thead>
        <tbody *ngFor="let movimentacao of financas; let i = index;">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{movimentacao.tipo}}</td>
            <td>R$ {{movimentacao.valor}}</td>
            <td>{{movimentacao.data}}</td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#exampleModal-' + i">
                    Excluir
                  </button>
                  <button type="button" class="btn btn-waring" data-toggle="modal" [attr.data-target]="'#editModal-' + i">
                    Editar
                  </button>
                </td> 
         </tr>
         <div class="modal fade" id="exampleModal-{{i}}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Desejar realmente excluir?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5> <b>Tipo: {{movimentacao.tipo}}</b></h5>
                  <h5> <b>Valor: {{movimentacao.valor}}</b></h5>
                  <h5> <b>Data: {{movimentacao.data}}</b></h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="excluirItem(i)" data-dismiss="modal">Excluir</button>
                </div>
              </div>
            </div>
          </div>
     <!---------MODAL EDIT ----->
     <div class="modal fade" id="editModal-{{i}}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Tipo</label>
              <select class="form-control" [(ngModel)]="movimentacao.tipo" id="tipo" name="tipo">
                <option value="Entrada">Entrada</option>
                <option value="Saida">Saida</option>
                <option value="Investimento">Investimento</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Valor</label>
              <input type="number" class="form-control" id="valor" name="valor" [(ngModel)]="movimentacao.valor" placeholder="Valor">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Data</label>
              <input type="datetime" class="form-control" id="valor" name="valor" [(ngModel)]="movimentacao.data">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="recalcular()" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    
          </tbody>
      </table>
    
      
       </div>