<div class="row">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem; margin-left: 10px;">
        <div class="card-header">Valor Total</div>
        <div class="card-body">
          <h5 class="card-title"> <i class="fas fa-money-bill-wave"></i> R$ {{valorTotal}}</h5>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem; margin-left: 10px">
        <div class="card-header">Saidas</div>
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-money-bill-wave"></i> R$ {{saida}}</h5>
        </div>
      </div>
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin-left: 10px;">
        <div class="card-header">Entradas</div>
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-money-bill-wave"></i> R$ {{entrada}}</h5>
        </div>
      </div>
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-left: 10px;">
        <div class="card-header">Investimentos</div>
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-money-bill-wave"></i> R$ {{investimentos}}</h5>
        </div>
      </div>
   
</div>
